modules = ["ruby-3.3", "web", "nodejs-20", "bash"]
run = "bin/serve"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bin/serve"]

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true
