modules = ["ruby-3.3", "web", "nodejs-20", "bash"]
run = "bin/setup && bin/serve"

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "Hammer"
mode = "sequential"
author = 3638850

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bin/hammer"

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true
