modules = ["ruby-3.3", "web", "nodejs-20", "bash"]
run = "bin/setup && bin/serve"

[env]
RACK_MINI_PROFILER = "off"
PIDFILE = "/tmp/rails_server.pid"

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[workflows]

[[workflows.workflow]]
name = "Hammer"
mode = "sequential"
author = 3638850

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bin/hammer"

[[workflows.workflow]]
name = "Open App"
mode = "sequential"
author = 3638850

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bin/open"

[[workflows.workflow]]
name = "Show Errors"
mode = "sequential"
author = 3638850

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bin/errors"

[[ports]]
localPort = 3000
externalPort = 80
