<h1>Upload Pattern</h1>

<%= form_with(url: patterns_path, method: :post, local: true, multipart: true, turbo: false) do |form| %>
  <div>
    <%= form.label :fcjson, "Select FCJSON file" %>
    <%= form.file_field :fcjson, accept: ".fcjson" %>
  </div>

  <div>
    <%= form.submit "Upload Pattern" %>
  </div>
<% end %>
